In [1]:
# Assignment 1 (first week)

In [7]:
# Create one variable containing following type of data:

a= 'Sai Chaitanya' #String
b= [1,2,'mouse','keyboard',22+39j,3.14] #List
c= 2.3456 #Float
d= (1,2,3,4,'a','b','c','d')

print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [8]:
# finding the data type of the given varibles

var1 = ' '; # as the varible is having only inverted commas and nothing is present in it, It will be string
var2 = '[ DS , ML , Python]'; # as the varible has some data and everything is written in between the 
#inverted commas it is a string.

var3 = ['DS', 'ML' ,'Python']; # in this varible it is started with square bracket and has 
# 3 string data in side it separated by , so this Var3 varible is a List data type.
var4 = 1.; # this Var4 varible having data 1. so that means it is a float data type.

print(type(var1),type(var2),type(var3),type(var4));

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

In [15]:
# following operators using an example:

a=int(input('enter the value of A'));
b=int(input('enter the value of B'));

''' Division operator (/) '''

# this Division operator gives the quotient in Float data type
c=a/b;
print(type(c));

''' Floor Division operator (//) '''
# this Floor Division operator gives the quotient in integer data type by neglecting the float values.
d=a//b;

''' Modulus operator (%) '''

# this modulus operator gives the Remainder in int data type
e=a%b;

''' exponent operator (**) '''

# This Operator is the power operator where the first varible is base and 2nd varible is exponent.

f=a**b

print('division operator output',c,type(c));
print('Floor Division operator output',d,type(d));
print('Modulus operator output',e,type(e));
print('exponent operator output',f,type(f));

enter the value of A 21
enter the value of B 10

<class 'float'>
division operator output 2.1 <class 'float'>
Floor Division operator output 2 <class 'int'>
Modulus operator output 1 <class 'int'>
exponent operator output 16679880978201 <class 'int'>

In [32]:
# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

l= [int(input('enter an interger')),int(input('enter an interger')),str(input('enter a string')), float(input('enter a float')),int(input('enter an interger')),int(input('enter an interger')),str(input('enter a string')), float(input('enter a float')),complex(input('enter a complex')),int(input('Enter a integer number'))]

d=len(l);
for i in range (0,d):
    print('the element in index',i,'is',l[i],'type of index',i,'element is',type(l[i]));

enter an interger 10
enter an interger 20
enter a string chaitanya
enter a float 3.14
enter an interger 35
enter an interger 47
enter a string Zoook
enter a float 43243.343
enter a complex 4+27j
Enter a binary number 27

the element in index 0 is 10 type of index 0 element is <class 'int'>
the element in index 1 is 20 type of index 1 element is <class 'int'>
the element in index 2 is chaitanya type of index 2 element is <class 'str'>
the element in index 3 is 3.14 type of index 3 element is <class 'float'>
the element in index 4 is 35 type of index 4 element is <class 'int'>
the element in index 5 is 47 type of index 5 element is <class 'int'>
the element in index 6 is Zoook type of index 6 element is <class 'str'>
the element in index 7 is 43243.343 type of index 7 element is <class 'float'>
the element in index 8 is (4+27j) type of index 8 element is <class 'complex'>
the element in index 9 is 27 type of index 9 element is <class 'int'>

In [5]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

a= int(input('enter number A'));
b= int(input('enter number B'));
i=1;
while i==1:
    if a%b==0:
        print('Number A is Divisible by B and A is Divisible by B',a//b,'times');
        break;
    else:
        print('Number A is not Divisible by B');
        break;

enter number A -5
enter number B -1

Number A is Divisible by B and A is Divisible by B 5 times

In [8]:
numbers= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25];
i= len(numbers);
for j in range (0,i):
    if numbers[j]%3==0:
        print(numbers[j],'is divisible by 3');
    else:
        print(numbers[j],'is not divisible by 3');

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [18]:
# Mutable and Immutable data types

'''if we can change the object state after it is created it is called mutable
if we cannot change the object state after it is created it is called immutable'''

# For Example Lists are mutable and Strings are not mutable.

page=[1,2,3,4,5]; # List
name='chaitanya'; # String

print(page);

print(page[2]) # we can fetch the data of a list at perticular index

page[2]='r'; # we can change the data of a list at perticular index this says it is immutable 

print(page);

print(name[2]) # we can fetch the data of a string at perticular index

name[2]='r'; # we cannot change the data of a string at perticular index this says it is immutable

[1, 2, 3, 4, 5]
3
[1, 2, 'r', 4, 5]
a

TypeError: 'str' object does not support item assignment